## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

In [3]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts
# Define the threshold for "Other" (example: less than 500)
threshold = 100

# Replace APPLICATION_TYPE values that are below the threshold with "Other"
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].apply(lambda x: "Other" if application_type_counts[x] < threshold else x)

# Verify the changes
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Choose a cutoff value
cutoff = 100

# Create a list of application types to be replaced
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()

# Display the list of application types to be replaced
print(application_types_to_replace)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

['T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Define the cutoff value for "Other" 
cutoff = 100

# Create a list of classifications to be replaced
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace the classifications in the dataframe with 'Other'
application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(classifications_to_replace, 'Other')

# Verify the changes
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# Get the value counts for CLASSIFICATION
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Display classifications with counts greater than 1
classification_counts_gt1 = classification_counts[classification_counts > 1]

# Display the value counts
print(classification_counts_gt1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Define the cutoff value for "Other"
cutoff = 100

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df_encoded = pd.get_dummies(application_df)

# Display the first few rows of the encoded DataFrame
print(application_df_encoded.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                   False
1       1   108590              1                   False
2       1     5000              0                   False
3       1     6692              1                   False
4       1   142590              1                   False

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                  True                 False                False
1                 False                 False                 True
2                 False                 False                False
3                 False                 False                 True
4                 False                 False                 True

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                False                False                False  ...
1                False                False                False  ...
2                False                 True                False  ...
3                False                False                False  ...
4                False                False                False  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0              False                   False                     False
1               True                   False                     False
2              False                   False                     False
3              False                    True                     False
4              False                   False                      True

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0               False             False                   False
1               False             False                   False
2               False             False                   False
3               False             False                   False
4               False             False                   False

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0            False              False                      True
1            False              False                      True
2            False              False                      True
3            False              False                      True
4            False              False                      True

   SPECIAL_CONSIDERATIONS_Y
0                     False
1                     False
2                     False
3                     False
4                     False

[5 rows x 51 columns]

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df_encoded['IS_SUCCESSFUL']  # Target variable
X = application_df_encoded.drop(columns=['IS_SUCCESSFUL'])  # Features

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Display the shapes of the resulting datasets
print(f"Training features shape: {X_train.shape}")
print(f"Testing features shape: {X_test.shape}")
print(f"Training target shape: {y_train.shape}")
print(f"Testing target shape: {y_test.shape}")

Training features shape: (27439, 50)
Testing features shape: (6860, 50)
Training target shape: (27439,)
Testing target shape: (6860,)

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [44]:
# Create a Keras Sequential model and add more than one Dense hidden layer
nn_model = tf.keras.models.Sequential()

nn_model.add(tf.keras.layers.Dense(units=10, activation="relu", input_dim=50))

nn_model.add(tf.keras.layers.Dense(units=10, activation="relu"))

nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the Sequential model
nn_model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 10)                510

 dense_19 (Dense)            (None, 10)                110

 dense_20 (Dense)            (None, 1)                 11

=================================================================
Total params: 631
Trainable params: 631
Non-trainable params: 0
_________________________________________________________________

In [45]:
# Convert to NumPy arrays if not already
X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

# Ensure the data types are correct
X_train = X_train.astype(float)
X_test = X_test.astype(float)
y_train = y_train.astype(int)  
y_test = y_test.astype(int)   

# Verify shapes
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(27439, 50) (6860, 50) (27439,) (6860,)

In [46]:
history = nn.fit(X_train_scaled, y_train, epochs=100, batch_size=32, validation_data=(X_test_scaled, y_test), verbose=1)

Epoch 1/100
858/858 [==============================] - 0s 417us/step - loss: 0.5377 - accuracy: 0.7370 - val_loss: 0.5568 - val_accuracy: 0.7270
Epoch 2/100
858/858 [==============================] - 0s 354us/step - loss: 0.5375 - accuracy: 0.7366 - val_loss: 0.5593 - val_accuracy: 0.7271
Epoch 3/100
858/858 [==============================] - 0s 351us/step - loss: 0.5378 - accuracy: 0.7364 - val_loss: 0.5583 - val_accuracy: 0.7283
Epoch 4/100
858/858 [==============================] - 0s 374us/step - loss: 0.5375 - accuracy: 0.7375 - val_loss: 0.5569 - val_accuracy: 0.7299
Epoch 5/100
858/858 [==============================] - 0s 371us/step - loss: 0.5374 - accuracy: 0.7354 - val_loss: 0.5603 - val_accuracy: 0.7252
Epoch 6/100
858/858 [==============================] - 0s 361us/step - loss: 0.5378 - accuracy: 0.7373 - val_loss: 0.5577 - val_accuracy: 0.7261
Epoch 7/100
858/858 [==============================] - 0s 355us/step - loss: 0.5374 - accuracy: 0.7377 - val_loss: 0.5567 - val_accuracy: 0.7276
Epoch 8/100
858/858 [==============================] - 0s 358us/step - loss: 0.5377 - accuracy: 0.7368 - val_loss: 0.5568 - val_accuracy: 0.7270
Epoch 9/100
858/858 [==============================] - 0s 388us/step - loss: 0.5377 - accuracy: 0.7368 - val_loss: 0.5584 - val_accuracy: 0.7280
Epoch 10/100
858/858 [==============================] - 0s 361us/step - loss: 0.5372 - accuracy: 0.7379 - val_loss: 0.5593 - val_accuracy: 0.7283
Epoch 11/100
858/858 [==============================] - 0s 357us/step - loss: 0.5379 - accuracy: 0.7373 - val_loss: 0.5579 - val_accuracy: 0.7239
Epoch 12/100
858/858 [==============================] - 0s 354us/step - loss: 0.5377 - accuracy: 0.7371 - val_loss: 0.5582 - val_accuracy: 0.7287
Epoch 13/100
858/858 [==============================] - 0s 391us/step - loss: 0.5375 - accuracy: 0.7380 - val_loss: 0.5583 - val_accuracy: 0.7265
Epoch 14/100
858/858 [==============================] - 0s 372us/step - loss: 0.5373 - accuracy: 0.7378 - val_loss: 0.5599 - val_accuracy: 0.7274
Epoch 15/100
858/858 [==============================] - 0s 419us/step - loss: 0.5376 - accuracy: 0.7364 - val_loss: 0.5583 - val_accuracy: 0.7281
Epoch 16/100
858/858 [==============================] - 0s 370us/step - loss: 0.5374 - accuracy: 0.7369 - val_loss: 0.5577 - val_accuracy: 0.7296
Epoch 17/100
858/858 [==============================] - 0s 373us/step - loss: 0.5378 - accuracy: 0.7371 - val_loss: 0.5577 - val_accuracy: 0.7265
Epoch 18/100
858/858 [==============================] - 0s 372us/step - loss: 0.5375 - accuracy: 0.7374 - val_loss: 0.5588 - val_accuracy: 0.7281
Epoch 19/100
858/858 [==============================] - 0s 372us/step - loss: 0.5376 - accuracy: 0.7373 - val_loss: 0.5579 - val_accuracy: 0.7264
Epoch 20/100
858/858 [==============================] - 0s 402us/step - loss: 0.5373 - accuracy: 0.7377 - val_loss: 0.5581 - val_accuracy: 0.7267
Epoch 21/100
858/858 [==============================] - 0s 367us/step - loss: 0.5376 - accuracy: 0.7363 - val_loss: 0.5567 - val_accuracy: 0.7287
Epoch 22/100
858/858 [==============================] - 0s 368us/step - loss: 0.5372 - accuracy: 0.7376 - val_loss: 0.5590 - val_accuracy: 0.7239
Epoch 23/100
858/858 [==============================] - 0s 366us/step - loss: 0.5374 - accuracy: 0.7369 - val_loss: 0.5572 - val_accuracy: 0.7287
Epoch 24/100
858/858 [==============================] - 0s 371us/step - loss: 0.5377 - accuracy: 0.7372 - val_loss: 0.5581 - val_accuracy: 0.7273
Epoch 25/100
858/858 [==============================] - 0s 368us/step - loss: 0.5376 - accuracy: 0.7372 - val_loss: 0.5591 - val_accuracy: 0.7290
Epoch 26/100
858/858 [==============================] - 0s 393us/step - loss: 0.5374 - accuracy: 0.7370 - val_loss: 0.5571 - val_accuracy: 0.7293
Epoch 27/100
858/858 [==============================] - 0s 367us/step - loss: 0.5377 - accuracy: 0.7372 - val_loss: 0.5586 - val_accuracy: 0.7267
Epoch 28/100
858/858 [==============================] - 0s 371us/step - loss: 0.5373 - accuracy: 0.7365 - val_loss: 0.5596 - val_accuracy: 0.7251
Epoch 29/100
858/858 [==============================] - 0s 380us/step - loss: 0.5378 - accuracy: 0.7368 - val_loss: 0.5558 - val_accuracy: 0.7265
Epoch 30/100
858/858 [==============================] - 0s 391us/step - loss: 0.5378 - accuracy: 0.7364 - val_loss: 0.5577 - val_accuracy: 0.7261
Epoch 31/100
858/858 [==============================] - 0s 373us/step - loss: 0.5374 - accuracy: 0.7365 - val_loss: 0.5585 - val_accuracy: 0.7230
Epoch 32/100
858/858 [==============================] - 0s 395us/step - loss: 0.5373 - accuracy: 0.7372 - val_loss: 0.5595 - val_accuracy: 0.7224
Epoch 33/100
858/858 [==============================] - 0s 367us/step - loss: 0.5375 - accuracy: 0.7376 - val_loss: 0.5573 - val_accuracy: 0.7277
Epoch 34/100
858/858 [==============================] - 0s 365us/step - loss: 0.5373 - accuracy: 0.7371 - val_loss: 0.5596 - val_accuracy: 0.7254
Epoch 35/100
858/858 [==============================] - 0s 504us/step - loss: 0.5373 - accuracy: 0.7371 - val_loss: 0.5593 - val_accuracy: 0.7287
Epoch 36/100
858/858 [==============================] - 0s 375us/step - loss: 0.5377 - accuracy: 0.7365 - val_loss: 0.5579 - val_accuracy: 0.7267
Epoch 37/100
858/858 [==============================] - 0s 395us/step - loss: 0.5374 - accuracy: 0.7373 - val_loss: 0.5614 - val_accuracy: 0.7213
Epoch 38/100
858/858 [==============================] - 0s 362us/step - loss: 0.5374 - accuracy: 0.7376 - val_loss: 0.5577 - val_accuracy: 0.7238
Epoch 39/100
858/858 [==============================] - 0s 370us/step - loss: 0.5373 - accuracy: 0.7372 - val_loss: 0.5580 - val_accuracy: 0.7242
Epoch 40/100
858/858 [==============================] - 0s 363us/step - loss: 0.5373 - accuracy: 0.7367 - val_loss: 0.5576 - val_accuracy: 0.7216
Epoch 41/100
858/858 [==============================] - 0s 369us/step - loss: 0.5370 - accuracy: 0.7378 - val_loss: 0.5598 - val_accuracy: 0.7286
Epoch 42/100
858/858 [==============================] - 0s 370us/step - loss: 0.5376 - accuracy: 0.7365 - val_loss: 0.5620 - val_accuracy: 0.7246
Epoch 43/100
858/858 [==============================] - 0s 393us/step - loss: 0.5374 - accuracy: 0.7377 - val_loss: 0.5581 - val_accuracy: 0.7305
Epoch 44/100
858/858 [==============================] - 0s 571us/step - loss: 0.5374 - accuracy: 0.7371 - val_loss: 0.5603 - val_accuracy: 0.7287
Epoch 45/100
858/858 [==============================] - 0s 470us/step - loss: 0.5377 - accuracy: 0.7370 - val_loss: 0.5573 - val_accuracy: 0.7265
Epoch 46/100
858/858 [==============================] - 0s 406us/step - loss: 0.5375 - accuracy: 0.7371 - val_loss: 0.5586 - val_accuracy: 0.7262
Epoch 47/100
858/858 [==============================] - 0s 373us/step - loss: 0.5376 - accuracy: 0.7391 - val_loss: 0.5578 - val_accuracy: 0.7296
Epoch 48/100
858/858 [==============================] - 0s 371us/step - loss: 0.5372 - accuracy: 0.7381 - val_loss: 0.5588 - val_accuracy: 0.7277
Epoch 49/100
858/858 [==============================] - 0s 367us/step - loss: 0.5375 - accuracy: 0.7383 - val_loss: 0.5591 - val_accuracy: 0.7210
Epoch 50/100
858/858 [==============================] - 0s 365us/step - loss: 0.5372 - accuracy: 0.7379 - val_loss: 0.5570 - val_accuracy: 0.7251
Epoch 51/100
858/858 [==============================] - 0s 364us/step - loss: 0.5373 - accuracy: 0.7375 - val_loss: 0.5591 - val_accuracy: 0.7270
Epoch 52/100
858/858 [==============================] - 0s 388us/step - loss: 0.5374 - accuracy: 0.7375 - val_loss: 0.5589 - val_accuracy: 0.7280
Epoch 53/100
858/858 [==============================] - 0s 367us/step - loss: 0.5375 - accuracy: 0.7365 - val_loss: 0.5619 - val_accuracy: 0.7185
Epoch 54/100
858/858 [==============================] - 0s 494us/step - loss: 0.5371 - accuracy: 0.7360 - val_loss: 0.5601 - val_accuracy: 0.7217
Epoch 55/100
858/858 [==============================] - 0s 358us/step - loss: 0.5375 - accuracy: 0.7364 - val_loss: 0.5570 - val_accuracy: 0.7290
Epoch 56/100
858/858 [==============================] - 0s 363us/step - loss: 0.5370 - accuracy: 0.7373 - val_loss: 0.5594 - val_accuracy: 0.7261
Epoch 57/100
858/858 [==============================] - 0s 362us/step - loss: 0.5372 - accuracy: 0.7374 - val_loss: 0.5577 - val_accuracy: 0.7267
Epoch 58/100
858/858 [==============================] - 0s 366us/step - loss: 0.5371 - accuracy: 0.7382 - val_loss: 0.5578 - val_accuracy: 0.7277
Epoch 59/100
858/858 [==============================] - 0s 397us/step - loss: 0.5371 - accuracy: 0.7382 - val_loss: 0.5575 - val_accuracy: 0.7281
Epoch 60/100
858/858 [==============================] - 0s 378us/step - loss: 0.5373 - accuracy: 0.7361 - val_loss: 0.5597 - val_accuracy: 0.7229
Epoch 61/100
858/858 [==============================] - 0s 372us/step - loss: 0.5376 - accuracy: 0.7365 - val_loss: 0.5596 - val_accuracy: 0.7273
Epoch 62/100
858/858 [==============================] - 0s 370us/step - loss: 0.5374 - accuracy: 0.7369 - val_loss: 0.5609 - val_accuracy: 0.7216
Epoch 63/100
858/858 [==============================] - 0s 370us/step - loss: 0.5372 - accuracy: 0.7368 - val_loss: 0.5639 - val_accuracy: 0.7200
Epoch 64/100
858/858 [==============================] - 0s 367us/step - loss: 0.5376 - accuracy: 0.7372 - val_loss: 0.5602 - val_accuracy: 0.7258
Epoch 65/100
858/858 [==============================] - 0s 393us/step - loss: 0.5378 - accuracy: 0.7374 - val_loss: 0.5577 - val_accuracy: 0.7278
Epoch 66/100
858/858 [==============================] - 0s 373us/step - loss: 0.5375 - accuracy: 0.7381 - val_loss: 0.5583 - val_accuracy: 0.7283
Epoch 67/100
858/858 [==============================] - 0s 362us/step - loss: 0.5370 - accuracy: 0.7378 - val_loss: 0.5595 - val_accuracy: 0.7257
Epoch 68/100
858/858 [==============================] - 0s 461us/step - loss: 0.5379 - accuracy: 0.7356 - val_loss: 0.5560 - val_accuracy: 0.7289
Epoch 69/100
858/858 [==============================] - 0s 544us/step - loss: 0.5375 - accuracy: 0.7371 - val_loss: 0.5574 - val_accuracy: 0.7258
Epoch 70/100
858/858 [==============================] - 0s 374us/step - loss: 0.5375 - accuracy: 0.7368 - val_loss: 0.5577 - val_accuracy: 0.7280
Epoch 71/100
858/858 [==============================] - 0s 383us/step - loss: 0.5373 - accuracy: 0.7369 - val_loss: 0.5586 - val_accuracy: 0.7268
Epoch 72/100
858/858 [==============================] - 0s 394us/step - loss: 0.5373 - accuracy: 0.7372 - val_loss: 0.5576 - val_accuracy: 0.7273
Epoch 73/100
858/858 [==============================] - 0s 364us/step - loss: 0.5372 - accuracy: 0.7377 - val_loss: 0.5571 - val_accuracy: 0.7271
Epoch 74/100
858/858 [==============================] - 0s 360us/step - loss: 0.5373 - accuracy: 0.7367 - val_loss: 0.5593 - val_accuracy: 0.7265
Epoch 75/100
858/858 [==============================] - 0s 360us/step - loss: 0.5375 - accuracy: 0.7368 - val_loss: 0.5586 - val_accuracy: 0.7278
Epoch 76/100
858/858 [==============================] - 0s 368us/step - loss: 0.5375 - accuracy: 0.7370 - val_loss: 0.5574 - val_accuracy: 0.7287
Epoch 77/100
858/858 [==============================] - 0s 364us/step - loss: 0.5375 - accuracy: 0.7364 - val_loss: 0.5580 - val_accuracy: 0.7299
Epoch 78/100
858/858 [==============================] - 0s 369us/step - loss: 0.5372 - accuracy: 0.7367 - val_loss: 0.5590 - val_accuracy: 0.7289
Epoch 79/100
858/858 [==============================] - 0s 368us/step - loss: 0.5374 - accuracy: 0.7371 - val_loss: 0.5593 - val_accuracy: 0.7286
Epoch 80/100
858/858 [==============================] - 0s 520us/step - loss: 0.5378 - accuracy: 0.7383 - val_loss: 0.5606 - val_accuracy: 0.7241
Epoch 81/100
858/858 [==============================] - 0s 367us/step - loss: 0.5371 - accuracy: 0.7367 - val_loss: 0.5592 - val_accuracy: 0.7262
Epoch 82/100
858/858 [==============================] - 0s 364us/step - loss: 0.5372 - accuracy: 0.7367 - val_loss: 0.5587 - val_accuracy: 0.7270
Epoch 83/100
858/858 [==============================] - 0s 360us/step - loss: 0.5376 - accuracy: 0.7357 - val_loss: 0.5577 - val_accuracy: 0.7280
Epoch 84/100
858/858 [==============================] - 0s 361us/step - loss: 0.5371 - accuracy: 0.7363 - val_loss: 0.5586 - val_accuracy: 0.7296
Epoch 85/100
858/858 [==============================] - 0s 366us/step - loss: 0.5377 - accuracy: 0.7373 - val_loss: 0.5591 - val_accuracy: 0.7224
Epoch 86/100
858/858 [==============================] - 0s 393us/step - loss: 0.5373 - accuracy: 0.7364 - val_loss: 0.5596 - val_accuracy: 0.7303
Epoch 87/100
858/858 [==============================] - 0s 364us/step - loss: 0.5378 - accuracy: 0.7347 - val_loss: 0.5580 - val_accuracy: 0.7293
Epoch 88/100
858/858 [==============================] - 0s 367us/step - loss: 0.5374 - accuracy: 0.7370 - val_loss: 0.5575 - val_accuracy: 0.7294
Epoch 89/100
858/858 [==============================] - 0s 367us/step - loss: 0.5373 - accuracy: 0.7368 - val_loss: 0.5581 - val_accuracy: 0.7281
Epoch 90/100
858/858 [==============================] - 0s 458us/step - loss: 0.5374 - accuracy: 0.7372 - val_loss: 0.5575 - val_accuracy: 0.7280
Epoch 91/100
858/858 [==============================] - 0s 361us/step - loss: 0.5374 - accuracy: 0.7378 - val_loss: 0.5589 - val_accuracy: 0.7280
Epoch 92/100
858/858 [==============================] - 0s 363us/step - loss: 0.5371 - accuracy: 0.7368 - val_loss: 0.5587 - val_accuracy: 0.7278
Epoch 93/100
858/858 [==============================] - 0s 391us/step - loss: 0.5371 - accuracy: 0.7369 - val_loss: 0.5606 - val_accuracy: 0.7271
Epoch 94/100
858/858 [==============================] - 0s 368us/step - loss: 0.5375 - accuracy: 0.7372 - val_loss: 0.5582 - val_accuracy: 0.7271
Epoch 95/100
858/858 [==============================] - 0s 364us/step - loss: 0.5375 - accuracy: 0.7365 - val_loss: 0.5600 - val_accuracy: 0.7270
Epoch 96/100
858/858 [==============================] - 0s 369us/step - loss: 0.5370 - accuracy: 0.7365 - val_loss: 0.5584 - val_accuracy: 0.7289
Epoch 97/100
858/858 [==============================] - 0s 364us/step - loss: 0.5375 - accuracy: 0.7385 - val_loss: 0.5616 - val_accuracy: 0.7204
Epoch 98/100
858/858 [==============================] - 0s 362us/step - loss: 0.5377 - accuracy: 0.7372 - val_loss: 0.5588 - val_accuracy: 0.7259
Epoch 99/100
858/858 [==============================] - 0s 445us/step - loss: 0.5374 - accuracy: 0.7375 - val_loss: 0.5592 - val_accuracy: 0.7294
Epoch 100/100
858/858 [==============================] - 0s 366us/step - loss: 0.5375 - accuracy: 0.7367 - val_loss: 0.5586 - val_accuracy: 0.7280

In [47]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=1)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 [==============================] - 0s 248us/step - loss: 0.5586 - accuracy: 0.7280
Loss: 0.5586397051811218, Accuracy: 0.7279883623123169

In [40]:
# Export our model to HDF5 file
model_filename = 'AlphabetSoupCharity_Optimization.h5'
nn.save(model_filename)

print(f"Model saved to {model_filename}")

Model saved to AlphabetSoupCharity_Optimization.h5